@font-face {
    font-family: 'Roboto-Light';
      src: url('./fonts/Roboto-Light.eot'); /* IE9 Compat Modes */
      src: url('./fonts/Roboto-Light.eot?#iefix')              format('embedded-opentype'), /* IE6-IE8 */
           url('./fonts/Roboto-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
           url('./fonts/Roboto-Light.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Roboto-Black';
      src: url('./fonts/Roboto-Black.eot'); /* IE9 Compat Modes */
      src: url('./fonts/Roboto-Black.eot?#iefix')              format('embedded-opentype'), /* IE6-IE8 */
           url('./fonts/Roboto-Black.ttf') format('truetype'), /* Safari, Android, iOS */
           url('./fonts/Roboto-Black.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Roboto-Thin';
      src: url('./fonts/Roboto-Thin.eot'); /* IE9 Compat Modes */
      src: url('./fonts/Roboto-Thin.eot?#iefix')              format('embedded-opentype'), /* IE6-IE8 */
           url('./fonts/Roboto-Thin.ttf') format('truetype'), /* Safari, Android, iOS */
           url('./fonts/Roboto-Thin.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Roboto-Bold';
      src: url('./fonts/Roboto-Blod.eot'); /* IE9 Compat Modes */
      src: url('./fonts/Roboto-Bold.eot?#iefix')                format('embedded-opentype'), /* IE6-IE8 */
           url('./fonts/Roboto-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
           url('./fonts/Roboto-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'fontawesome-webfont';
      src: url('./fonts/fontawesome-webfont.eot'); /* IE9 Compat Modes */
      src: url('./fonts/fontawesome-webfont.eot?#iefix')        format('embedded-opentype'), /* IE6-IE8 */
           url('./fonts/fontawesome-webfont.woff') format('woff'), /* Pretty Modern Browsers */
           url('./fonts/fontawesome-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
           url('./fonts/fontawesome-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'glyphicons-halflings-regular';
        src: url('./fonts/glyphicons-halflings-regular.eot'); /* IE9 Compat Modes */
        src: url('./fonts/glyphicons-halflings regular.eot?#iefix')
           format('embedded-opentype'), /* IE6-IE8 */
           url('./fonts/glyphicons-halflings-regular.woff') format('woff'), /* Pretty Modern Browsers */
           url('./fonts/glyphicons-halflings-regular.ttf') format('truetype'), /* Safari, Android, iOS */
           url('./fonts/glyphicons-halflings-regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Roboto-Medium';
      src: url('./fonts/Roboto-Medium.eot'); /* IE9 Compat Modes */
      src: url('./fonts/Roboto-Medium.eot?#iefix')              format('embedded-opentype'), /* IE6-IE8 */
           url('./fonts/Roboto-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
           url('./fonts/Roboto-Medium.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Roboto-Regular';
      src: url('./fonts/Roboto-Regular.eot'); /* IE9 Compat Modes */
      src: url('./fonts/Roboto-Regular.eot?#iefix')            format('embedded-opentype'), /* IE6-IE8 */
           url('./fonts/Roboto-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
           url('./fonts/Roboto-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

body {
    margin:0;
}

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    overflow: hidden;
    z-index: 2;
    font-size: 0.8em;
}

ul.nav {
    list-style-type: none;
    overflow: hidden;
    background-color: #FFF;
    margin: 0;
    padding: 0 10%;
    position: relative;
    vertical-align: middle;
    text-align: center;
}

ul.nav li {
    float: left;
    text-align: center;
    vertical-align: middle;
}

ul.nav li a {
    position: relative;
    display: inline-block;
    color: #7F7F7F;
    text-align: center;
    vertical-align: middle;
    padding: 20px 20px;
    text-decoration: none;
    line-height: 400%;
    font-family: Roboto-Regular;
    font-size: 1.2em;
}

ul.nav li a:hover:not(.active) {border-top: 3px solid #5aabce; padding-top: 17px;font-family: Roboto-Regular;}

ul.nav li a.active {border-top: 3px solid #5aabce; padding-top: 17px;color: #0E0E0E;font-family: Roboto-Regular;}

ul.nav li.right {float: right;}

#logo {
    display: inline-block;
    max-height: 60px;
    float: left;
    margin: 0;
}

@media screen and (max-width: 600px){
    ul.nav li.right, ul.nav li {float: none;}
    #logo {display: inline-block;max-height: 3vh;}
    ul.nav li a {line-height: 0.5vh;}
}

.main {
    margin: 0px 0px 10px 0px;
    font-family: Roboto-light;
}

@media screen and (max-width: 600px){
    .main {position:relative;
            top:40vh;}
}

a.anchor {
    display: block;
    position: relative;
    top: -120px;
    visibility: hidden;
}

#wa {
    color: #45AED6;
}

.slideshow-container {
    background: url("./images/slider/bg1.jpg") ; 
    height: 670px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}

.intro {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 0px 0px 0px 0px;
}

.intro h1 {
    color: white;
    font-family: Roboto-Bold;
    line-height: 1em;
}

.intro p {
    padding-bottom: 0.7em;
    font-size: 0.9em;
    line-height: 0.2em;
    font-family: Roboto-Regular;
}

.intro a {
    background-color: #45AED6;
    line-height: 2.3em;
    width: 7.3em;
    text-align: center;
    color: white;
    float: left;
    font-family: Roboto-Medium;
    font-size: 1.1em;
    border-radius: 0.2em;
    text-decoration: none;
    border-bottom: 0.2em solid #2995BE;
}

@media screen and (max-width: 600px) {
    .slideshow-container {display: none; z-index: -3;}
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 0 10px;
  color: white;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}



.headlines p{
    padding: 0 30%;
    text-align: justify;
    color: #676C71;
    font-family: Roboto-Light;
    font-size: 0.9em;
    text-align: center;
}


.headlines {
    text-align: center;
}

.headlines h1{
    padding: 0;
    margin: 0;
    font-family: Roboto-Bold;
    font-size: 2.8em;
}

svg line {
    stroke:rgb(200,200,200);
    stroke-width:0.05em;
}

svg  circle {
    stroke:white;
    stroke-width:5;
    fill:#45AED6;
}

.btncont {
    width: 100%;
    margin-left: 30%;
    margin-right:30%;
    display: flex;
    text-align: center;
    vertical-align: middle;
}

.btncont a {
    background-color: rgb(210,210,210);
    line-height: 3em;
    width: 100%;
    margin: 50px auto;
    display: inline-block;
    overflow: hidden;
    text-align: center;
    font-size: 1em;
    text-decoration: none;
    font-family: Roboto-Medium;
    color: rgb(126,126,126);
}

.btncont a:hover {
    background-color: #5aabce;
}

.btncont a:focus {
    background-color: #5aabce;
    outline: none;
    color: white;
}

@media screen and (max-width: 600px) {
    .btncont {
    margin-top: 1vh;
    width: 100%;
    margin-left: 30%;
    margin-right:30%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    vertical-align: middle;}
    
    .btncont a {
    background-color: rgb(210,210,210);
    line-height: 5vh;
    width: 100%;
    margin: 0px auto;
    display: inline-block;
    overflow: hidden;
    text-align: center;
    font-size: 1em;
    text-decoration: none;
    font-family: Roboto-Medium;
    color: rgb(126,126,126);
}
}

.projcontainer {
    text-align: center;
    display: block;
}

.pres {
    text-align: center;
    display: block;
}

.pres h1 {
    padding: 0;
    margin: 0;
    font-family: Roboto-Bold;
    font-size: 2.8em;
}

.pres p {
    width: 50%;
    text-align: center;
    margin: auto;
}


#flex-container {
    margin: 5% 10% 0%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}

.flex-row img {
    width: 100%;
    height: auto;
}

.flex-row p {
    width: 100%;
    height: auto;
    
}

@media screen and (max-width: 600px){

    .flex-row {
        position: relative;
        width: 100%;}

    .flex-row img {
        width: 100%;
        height: auto;
        text-align: center;}

    .flex-row p {
        width: 100%;
        height: auto;
        text-align: center;}
}

.projcontainer {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(245,245,242);
    padding: 20px 20px;
    width: 100%;
    text-align: center;
    align-content: center;
    justify-content: center;
}

.gal {
    padding: 0vh 5vw 0vh 1vw;
}

.flexrow {
    position: relative;
}

.flexrow img {
    width: 100%;
    height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0,0.7);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}


.flexrow:hover .overlay {
  height: 60%;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 1em 1em;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.Map {
    position: relative;
    width: 100vw;
    height: 650px;
    border-color: #900;
    opacity: 0.7;
}

.Map iframe {
    height: 100%;
    width: 100%;
    border:0;
}

.Form   {
    position: absolute;
    height: 80%;
    width: 25%;
    left: 65%;
    vertical-align: middle;
    background-color: #EFF5F7;
    border-color: #696;
    opacity: 0.8;
}

#map {
  width: 100vw;

}

#formm {
  top: 10%;
}

.Form fieldset {
    border: none;
}

.Form legend {
    line-height: 1.1em;
    display: inline-block;
}

#comp {
    font-family: Roboto-Bold;
    color: black;
    font-size: 1em;
}

.Form legend h3 {
    font-family: Roboto-Bold;
    text-align: justify;
    font-size: 1.5em;
    color: rgb(0,0,0);
    margin-left: 5%;
}

.Form legend p {
    height: 8%;
    font-size: 1em;
    margin-left: 5%;
    font-family: Roboto-Medium;
}

.Form input[type=text], input[type=email], select {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    line-height: 2em;
    padding-left: 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
}

.Form textarea {
    border: 1px solid #ccc;
    background-color: white;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    border-radius: 4px;
    padding-left: 0.5em;
}

#btn:hover {
    background-color: #007596;
}

#btn {
    padding: 0.6em 1em;
    font-size: 0.8em;
    margin-left: 5%;
    margin-top: 5%;
    background-color: #45AED6;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
}


@media screen and (max-width: 600px) {


.Map iframe {
    height: 100%;
    width: 100%;
    border: 0;
}


#map {
    position: relative;
    width: 100vw;
    height:400px;
    border-color: #900;
    opacity: 0.7;
}


.Form   {
    position: absolute;
    height: 80%;
    width: 25%;
    left: 65%;
    vertical-align: middle;
    background-color: #EFF5F7;
    border-color: #696;
    opacity: 0.8;
}

#map {
  width: 100vw;

}

.formm {
  top: 10%;
}

.Form legend {
    font-size: 0.6em;
    display: inline-block;
}

#comp {
    font-family: Roboto-Bold;
    color: black;
    font-size: 1.2em;
}

.Form legend h3 {
    font-family: Roboto-Bold;
    text-align: justify;
    font-size:1.5em;
    color: rgb(0,0,0);
    margin-left: 5%;
}

.Form legend p {
    font-size: 1em;
    margin-left: 5%;
    font-family: Roboto-Medium;
}

.Form input[type=text], input[type=email], select {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    line-height: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
}

.Form textarea {
    border: 1px solid #ccc;
    background-color: white;
    width: 90%;
    max-height: 15vh;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    border-radius: 4px;
    padding-left: 0.5em;
}

#btn:hover {
    background-color: #007596;
}

#formm input[type=submit] {
    background-color: #45AED6;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-sizing: border-box;
    font-size: 0.7em;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10% 0px;
    width: 90%;
}

}