@font-face {
    font-family: 'Roboto-Light';
      src: url('./fonts/Roboto-Light.eot'); /* IE9 Compat Modes */
      src: url('./fonts/Roboto-Light.eot?#iefix')              format('embedded-opentype'), /* IE6-IE8 */
           url('./fonts/Roboto-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
           url('./fonts/Roboto-Light.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Roboto-Black';
      src: url('./fonts/Roboto-Black.eot'); /* IE9 Compat Modes */
      src: url('./fonts/Roboto-Black.eot?#iefix')              format('embedded-opentype'), /* IE6-IE8 */
           url('./fonts/Roboto-Black.ttf') format('truetype'), /* Safari, Android, iOS */
           url('./fonts/Roboto-Black.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Roboto-Thin';
      src: url('./fonts/Roboto-Thin.eot'); /* IE9 Compat Modes */
      src: url('./fonts/Roboto-Thin.eot?#iefix')              format('embedded-opentype'), /* IE6-IE8 */
           url('./fonts/Roboto-Thin.ttf') format('truetype'), /* Safari, Android, iOS */
           url('./fonts/Roboto-Thin.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Roboto-Bold';
      src: url('./fonts/Roboto-Blod.eot'); /* IE9 Compat Modes */
      src: url('./fonts/Roboto-Bold.eot?#iefix')                format('embedded-opentype'), /* IE6-IE8 */
           url('./fonts/Roboto-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
           url('./fonts/Roboto-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'FontAwesome';
      src: url('./fonts/fontawesome-webfont.eot'); /* IE9 Compat Modes */
      src: url('./fonts/fontawesome-webfont.eot?#iefix')        format('embedded-opentype'), /* IE6-IE8 */
           url('./fonts/fontawesome-webfont.woff') format('woff'), /* Pretty Modern Browsers */
           url('./fonts/fontawesome-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
           url('./fonts/fontawesome-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'glyphicons-halflings-regular';
        src: url('./fonts/glyphicons-halflings-regular.eot'); /* IE9 Compat Modes */
        src: url('./fonts/glyphicons-halflings regular.eot?#iefix')
           format('embedded-opentype'), /* IE6-IE8 */
           url('./fonts/glyphicons-halflings-regular.woff') format('woff'), /* Pretty Modern Browsers */
           url('./fonts/glyphicons-halflings-regular.ttf') format('truetype'), /* Safari, Android, iOS */
           url('./fonts/glyphicons-halflings-regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Roboto-Medium';
      src: url('./fonts/Roboto-Medium.eot'); /* IE9 Compat Modes */
      src: url('./fonts/Roboto-Medium.eot?#iefix')              format('embedded-opentype'), /* IE6-IE8 */
           url('./fonts/Roboto-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
           url('./fonts/Roboto-Medium.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Roboto-Regular';
      src: url('./fonts/Roboto-Regular.eot'); /* IE9 Compat Modes */
      src: url('./fonts/Roboto-Regular.eot?#iefix')            format('embedded-opentype'), /* IE6-IE8 */
           url('./fonts/Roboto-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
           url('./fonts/Roboto-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}



* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    margin: auto auto;
    padding:0;
    height: 100%;
    overflow-x: hidden;
}

.navbar {
    position: fixed;
    width: 100%;
    margin-bottom: 0%;
    padding-bottom: 0%;
    top: 0;
    left:0;
    height: 100px;
    overflow: hidden;
    z-index: 2;
    font-size: 0.8em;
}

ul.nav {
    list-style-type: none;
    overflow: hidden;
    background-color: #FFF;
    margin: 0;
    padding: 0 10%;
    vertical-align: middle;
    text-align: center;
}

ul.nav li {
    float: left;
    text-align: center;
    vertical-align: middle;
}

ul.nav li a {
    position: relative;
    display: inline-block;
    color: #7F7F7F;
    text-align: center;
    vertical-align: middle;
    padding: 20px 20px;
    text-decoration: none;
    line-height: 400%;
    font-family: Roboto-Regular;
    font-size: 1.2em;
}

.right a:hover:not(.active) {
    border-top: 3px solid #5aabce;
    padding-top: 17px;
    font-family: Roboto-Regular;
}

ul.nav li a.active {border-top: 3px solid #5aabce;
    padding-top: 17px;
    color: #0E0E0E;
    font-family: Roboto-Regular;
}

ul.nav li.right {
    float: right;
}

#logo {
    display: inline-block;
    max-height: 60px;
    float: left;
    margin: 0;
}

.anchor {
    position: relative;
    visibility: hidden;
}

#wa {
    color: #45AED6;
}

.container {
    margin-top: 100px;
}

.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
    box-sizing: border-box;
}

.slideshow-container img {
    vertical-align: middle;
}

.mySlides img {
    width:100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    background: #66696C;
    outline: none;
    opacity: 0.9;
    -webkit-transition: .2s;
    transition: opacity .2s;
    position: absolute;
    bottom: -1%;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15%;;
    height: 5px;
    opacity:1 !important;
    float:left;
    background: #5CADD3;
    cursor: pointer;
    position: absolute;
    left:-10px;
    top:0px;
}

.slider::-moz-range-thumb {
    width: 100px;
    height: 5px;
    float: left;
    opacity:1;
    background: #5CADD3;
    cursor: pointer;
}

.slider_nav {
    background: rgba(25, 25, 25, 0.4);
    display: inline-block;
    padding: 20px 50px 20px 40px;
    border-radius: 40%;
    border-right: 0;
    position: absolute;

}

.intro {
    color: white;
    height: auto;
    margin: 0;
    position: absolute;
    font-size: 25pt;
    top: 50%;
    left: 23%;
    -ms-transform: translate(-23%, -50%);
    transform: translate(-23%, -50%);
    overflow:hidden;
    clear:both;
}

.intro h1 {
    color: white;
    margin:0;
    font-family: Roboto-Bold;
    font-size:24pt;
}

.intro p {
    font-family: Roboto-Regular;
    font-size: 0.4em;
}

.intro a {
    background-color: #5CADD3;
    margin-top: 2%;
    text-align: center;
    color: white;
    float: left;
    font-size: 0.5em;
    font-family: Roboto-Medium;
    padding: 8px 12px;
    border-radius: 0.2em;
    text-decoration: none;
    border-bottom: 0.2em solid #2995BE;
    overflow: hidden;
    cursor:pointer;
}

.pr {
    top:45%;
    position:absolute;
    padding:20px 15px;
    width: 40px;
    height: 70px;
    border-bottom-right-radius: 70px;
    border-top-right-radius: 80px;
    border-right: 0;
    color:white;
    cursor:pointer;
    background-color: rgba(10,10,10,0.2);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

.su {
    top:45%;
    position:absolute;
    padding:20px 15px;
    width: 40px;
    height: 70px;
    background-color: rgba(10,10,10,0.2);
    border-bottom-left-radius: 80px;
    border-top-left-radius: 80px;
    border-left: 0;
    color:white;
    right:0;
    cursor:pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.post {
    height: 50px;
}

svg line {
    stroke:rgb(110,110,110);
    stroke-width:0.5px;
}


svg  circle {
    stroke:white;
    stroke-width:4px;
    fill:#45AED6;
}

.headlines {
    text-align: center;
}

.headlines h2{
    margin: 0% 0% 0%;
    font-family: Roboto-Bold;
    font-size: 3em;
}

.headlines p{
    padding: 0 20%;
    text-align: justify;
    font-family: Roboto-Regular;
    font-size: 1em;
    line-height:2em;
    color:rgb(110,110,110);
    text-align: center;
}


.c {
    position: relative;
     border-radius: 50%;
    border: solid 1px rgb(210,210,210);
    height:50px;
    width:50px;
    vertical-align: middle;
    text-align: center;
}

.fa-line-chart, .fa-pie-chart {
    top:30%;
    right:28%;
    color: #5CADD3;
    position: absolute;
    vertical-align: middle; 
    display:inline-block;
}

.fa-cubes {
    top:25%;
    right:25%;
    color: #5CADD3;
    position: absolute;
    vertical-align: middle; 
    display:inline-block;
}

.fa-circle {
    bottom:30%;
    right: -17%;
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    color:#5CADD3;
    border: 2px solid white;
}

.fa-sm {
        font-size: 0.6666666em;
    vertical-align: -15%;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: space-around;
    width:100%;
}

.flex-row:nth-child(1) {
    flex:1;
}

.flex-row:nth-child(2) {
    padding-top: 3%;
    padding-right:5%;
    padding-left: 5%;
    flex:1;
}

.courcont {
    display: flex;
    flex-wrap: nowrap;
    font-size: 1em;
    font-family: Roboto-Regular;
    color:rgb(110,110,110);
}

.doms {
    margin-left:0;
    font-family: Roboto-Bold;
    font-size: 1.1em;
    color:#000;
    line-height: 2em;
}

.courcont  * {
    margin: auto 1%;

}

.courcont p {
    text-align: justify;
    width:100%;
}

.pres {
    text-align: center;
}

.pres h2{
    margin: 0% 0% 1%;
    font-family: Roboto-Bold;
    font-size: 3em;
}

.pres p {
    width: 100%;
    text-align: justify;
    font-family: Roboto-Regular;
    color:rgb(110,110,110);
    margin: auto;
    line-height:2em;
    padding: 0 5%;
    text-align: center;
    margin: 1% 0% 4%;
}

.btncont {
    border-radius:13px;
    display: flex;
    flex-direction: row;
}


.butt {
    background-color: rgba(210,210,210,0.7);
    text-align: center;
    vertical-align: middle;
    color:rgb(100,100,100);
    border:none;
    cursor:pointer;
}


.mainselected {
    background-color: #5CADD3;
    position: relative;
    display: inline-block;
    color: white;
    border:none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom: 2px solid #3b7793;
    outline: 0;
}

.mainselected:before {
    content: "";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    left: calc(50% - 10px);
    bottom: -10px;
    border-left: 10px solid transparent; 
    border-right: 10px solid transparent; 
    border-top: 10px solid #3b7793; 
}
.btncont button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

.last {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.projcontainer {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(245,245,242);
    padding: 20px 20px;
    width: 100%;
    align-content: center;
    justify-content: center;
}

.gal {
    padding: 0vh 5vw 0vh 1vw;
}

.flexrow {
    position: relative;
    overflow: hidden;
}

.flexrow img {
    width: 100%;
    height: auto;

}

.overlay {
    position: absolute;
    bottom:1%;
    left: 0;
    background-color: rgba(0, 0, 0,0.7);
    overflow: visible;
    display: flex;
    width: 100%;
    height: 0;
    transition: .5s ease;
    outline:none;
    border: 0;
}

.ico {
    position: absolute;
    top: -25%;
    right: 5%;
}

.ico .bt {
    background-color: #4DA1B1;
    border: 2px solid white;
    color: white;
    padding: 12px 12px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50%;
}

.text {
    color: white;
    position: absolute;
    padding: 0% 0% 3% 2%;
    line-height:0.5em;
}

.text > p {
    font-size:0.9em;
    font-family:Roboto-Light;
    text-align:justify;

}

p.p1 {
    font-size: 1.2em;
    font-family: Roboto-Bold;
}


.flexrow:hover .overlay {
    height: 35%;
    width:100%;
}

.responsive {
    padding: 1em 1em;
    float: left;
    width: 24.99999%;
}

.footer {
    margin: 0% auto;
    padding: 0%;
    width:100%;
    overflow: hidden;
    box-sizing: border-box;
}

.ggwrap {
    position: relative;
    box-sizing: border-box;
}

.carte {
    margin:0% auto; 
    width: 100%;
    height: 660px;
}

.carte iframe {
    width:100%;
    height:100%;
}

#mapover {
    width: 100%;
    height: 100%;
    background: #98C7F0;
    position: absolute;
    opacity: 0.5;/*add this*/
    top: 0px; 
    left: 0px; 
}

.contact {
    position: absolute;
    right: 10%;
    top:5%;
    bottom: 5%;
    margin: 0% auto;
    padding: 0% 2%;
    width:30%;
    height: auto;
    
}

.contact form {
    background-color: rgba(255,253,252,0.8);
    width: 100%;
    box-sizing: border-box;
    padding: 0 5%;
}

.contact fieldset {
    border: none;
    padding: 0%;
    margin:0%;
}

#comp {
    font-family: Roboto-Medium;
    color: rgb(80,80,80);
    line-height: 1.5em;
    font-size:1.1em;
}



.contact  h3 {
    font-family: Roboto-Bold;
    font-size: 1.7em;
    margin: 5% 0 3%;
}

.contact  h4 {
    max-height: 10%;
    width: 100%;
    color: #64686D;
    line-height:1.5em;
    font-family: Roboto-Regular;
    box-sizing: border-box;
    margin: 0%;
}

.contact input[type=text], input[type=email] {
    width: 100%;
    display: block;
    margin-top: 5%;
    font-size: 1em;
    font-family: Roboto-Light;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: white;
    padding: 2% 3%;
}

.contact textarea {
    border: 1px solid #ccc;
    display: block;
    background-color: white;
    font-family: Roboto-Light;
    font-size: 1em;
    width: 100%;
    margin-top: 5%;
    border-radius: 4px;
    padding: 2% 3%;
    box-sizing: border-box;
}

.btn:hover {
    background-color: #007596;
}

.btn {
    margin: 5% 0;
    background-color: #45AED6;
    border-bottom: 3px solid #4494BB;
    color: white;
    font-family: Roboto-Regular;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    padding: 2% 3%;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    ul.nav li.right, ul.nav li {
    float: none;
    }
#logo {
    display: inline-block;
    max-height: 5vh;
    }
ul.nav li a {
    line-height: 0.5vh;}
.navbar {
    width: 100%;
    margin-bottom: 0%;
    padding-bottom: 0%;
    top: 0;
    left:0;
    height: 40vh;
    overflow: hidden;
    font-size: 0.8em;
    position: absolute;
    }

.container {
    margin-top: 230px;
}
    
.slideshow-container {
    max-width: 100%;
    position: relative;
    height:358px;
    background-image: url(images/slider/bg1.jpg);
    background-size: cover;
    background-position: 55%;
    background-repeat: no-repeat;
    margin: auto;
    box-sizing: border-box;
}    
    
.slideshow-container img {
    display: none;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    background: #66696C;
    outline: none;
    opacity: 0.9;
    -webkit-transition: .2s;
    transition: opacity .2s;
    position: absolute;

}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15%;;
    height: 5px;
    opacity:1 !important;
    float:left;
    background: #5CADD3;
    cursor: pointer;
    position: absolute;
    left:-10px;
    top:0px;
}

.slider::-moz-range-thumb {
    width: 100px;
    height: 5px;
    float: left;
    opacity:1;
    background: #5CADD3;
    cursor: pointer;
}

.slider_nav {
    background: rgba(25, 25, 25, 0.4);
    display: inline-block;
    padding: 5px 15px 5px 10px;
    border-radius: 40%;
    border-right: 0;
    position: absolute;

}

.intro {
    color: white;
    margin: 0;
    -ms-transform: translate(-23%, -50%);
    transform: translate(-23%, -50%);
    overflow:hidden;
    clear:both;
    font-size: 12pt;
    width:auto;
}

.intro h1 {
    color: white;
    font-family: Roboto-Bold;
    font-size: 1.5em;
}

.intro p {
    font-size: 10pt; 
    padding-right:45%;
}    
    
.intro a {
    background-color: #5CADD3;
    margin-top: 1%;
    text-align: center;
    color: white;
    float: left;
    font-family: Roboto-Medium;
    padding: 2px 6px;
    border-radius: 0.2em;
    text-decoration: none;
    border-bottom: 0.2em solid #2995BE;
    width: auto;
    overflow: hidden;
    font-size: 1em;
}
   
.pr {
     display: none;    
}

.su {
    display: none;  
}
    
.headlines {
    margin-top: 2%;
    text-align: center;
}

.headlines h2{
    margin: 0% 0% 5%;
    font-family: Roboto-Bold;
    font-size: 2em;
}
    
.headlines p{
    font-family: Roboto-Regular;
    font-size: 1em;
    color:rgb(110,110,110);
    text-align: center;
    padding: 0%;
    justify-content: center;
} 

.flex-container {
    width:100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    padding:0;
    margin:0;
}
.flex-row:nth-child(1) {
    flex:1;
    justify-content: center;
    align-items: center;
    margin: 2% auto;
    align-content: center;
    
}

    
.flex-row:nth-child(2) {
    flex: 1;
    margin: 2% auto;
        padding-right:0%;
    padding-left: 0%;
}

.courcont {
    display: flex;
    flex-wrap: wrap;
    padding: 1%;
    justify-content: center;
    text-align: justify;
}

.courcont  * {
    margin: 5% auto;
}
    
.courcont p {
    font-family: Roboto-Regular;
    color:rgb(110,110,110);
    font-size:1em;
    margin: 0% auto 5%;
    justify-content: center;
}
   
.pres {
    width: 100%;
    margin: 0% auto 5%;
    padding: 5% 0%;
}
    
.pres h2 {
    margin: 0% 0% 5%;
    font-family: Roboto-Bold;
    font-size: 2em;
}
    
.pres p {
    font-family: Roboto-Regular;
    font-size: 1em;
    color:rgb(110,110,110);
    text-align: center;
    margin:3% auto 0%;
}

.btncont {
    width: 80%;
    margin: 0% auto;
    padding: 0%;
    display: flex;
    padding: 0% 0%;
    flex-wrap: wrap;
    text-align: center;
    vertical-align: middle;
    flex-direction: column;
    border: none;
}
    
.butt {
    background-color: rgb(210,210,210);
    width:100%;
    margin: 0px auto;
    display: inline-block;
    overflow: hidden;
    text-align: center;
    font-size: 1em;
    text-decoration: none;
    border: none;
    font-family: Roboto-Medium;
    color: rgb(126,126,126);
}
    

.mainselected {
    background-color: #5CADD3;
    text-align: center;
    vertical-align: middle;
    position: relative;
    color: white;
    border-bottom: 1px solid #468CAD;
}

.flex-row {
    position: relative;
    width: 100%;
}

.flex-row img {
    width: 100%;
    height: auto;
    text-align: center;
}

.flex-row p {
    font-size: 1em;
    font-family: Roboto-Regular;
    width: 100%;
    height: auto;
    text-align: center;
}

    
.projcontainer {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(245,245,242);
    padding: 5% 0%;
    width: 100%;
    text-align: center;
    align-content: center;
    justify-content: center;
}

.gal {
    padding: 2vh 1vw 0vh 1vw;
    
}

.flexrow img {
    width: 100%;
    height: auto;
    overflow: hidden;
}
    .responsive {
        width: 100%;
    }  

.footer {
    margin: 0% auto;
    padding: 0%;
    width:100%;
}

.ggwrap {
    position: relative;
}

.carte {
    margin:0% auto; 
    width: 100%;
    max-height: 550px;
}

#mapover {
    width  : 100%;
    height : 100%;
    background: #98C7F0;
    position: absolute;
    opacity: 0.5;/*add this*/
    top: 0px; 
    left: 0px; 
}

.carte iframe {
    border:0;
}
    
.contact {
    position: relative;
    width:100%;
    right:0%;
        padding: 0 ;
}
    
#comp {
    font-family: Roboto-Medium;
    color: rgb(100,100,100);
}

.inlin legend h3 {
    font-family: Roboto-Bold;
}

.inlin legend h4 {
    color: #64686D;
    font-family: Roboto-Regular;
}

.inlin input[type=text], input[type=email] {
    margin-top: 3%;
    font-size: 1em;
    font-family: Roboto-Light;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: white;
    padding: 2% 3%;
}

.inlin textarea {
    border: 1px solid #ccc;
    background-color: white;
    font-family: Roboto-Light;
    font-size: 1em;
    margin-top: 3%;
    border-radius: 6px;
    padding: 2% 3%;
}

.btn:hover {
    background-color: #007596;
}

.btn {
    margin: 3% 0%;
    width:100%;
    background-color: #45AED6;
    border-bottom: 4px solid #4494BB;
    color: white;
    font-family: Roboto-Regular;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    padding: 1% 2%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
.flex-container {
    width:100%;
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    padding:0;
    margin:0;
}
    
.flex-row:nth-child(1) {
    flex:1;
    text-align: center;
    align-content: center;
}

    
.flex-row:nth-child(2) {
    flex: 1;
     margin: 2%;
        padding-right:0%;
    padding-left: 0%;
}
    
.courcont {
    display: flex;
    flex-wrap: wrap;

}

.courcont *{
    margin: 2% auto;
}

.courcont p{
    text-align: center; 
}

.pres p {
    padding: 0%;
}

.btncont {
    margin-bottom: 3%;
    }
    
.butt {
    width:70px;
    height: 30px;
    font-size: 10px;
    }  

} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

.intro h1 {
    font-size:18pt;        
}

.intro p {
    font-size: 8.5pt;    
}

.intro a {
    padding:4px 8px;
    font-size: 8pt;
}
    
    
.headlines h2{
    font-size: 2em;
    margin-bottom: 1%;
}
    
.headlines p {
    padding:0%;
    margin: 2%;
}
    
.pres h2 {
    font-size:2em;
    }

.flex-row:nth-child(2) {
    padding-right:0%;
    padding-left: 0%;
    }

.btncont {
    margin-bottom: 3%;
    }

.butt {
    width:70px;
    height: 30px;
    font-size: 10px;
    }  
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
.headlines h2{
    font-size: 3em;
    margin-bottom: 1%;        
}

.headlines p {
    padding: 0% 25%;
}
    
.gal {
    margin-right: 5%;
}

.pres h2 {
    font-size:3em;
}
    
.pres p {
    font-size:1em;
    padding:0% 25%;
}
    
    
.flex-container {
    flex-direction:row;
}

    
.flex-row:nth-child(1) {
    flex:1;
    padding-bottom:5%;
}

    
.flex-row:nth-child(2) {
    flex: 1;
    padding-top:4%;
}

.flex-row img {
    width:65%;
    margin-left: 20%;
}
    
.courcont {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    font-family: Roboto-Regular;
    color:rgb(110,110,110);
}

.c  {
    margin-right:5%;
}


.courcont *{
}

.courcont p{
    text-align: justify;
    font-size:10pt;
    line-height:150%;
    padding-right: 5%;
}

.btncont {
    margin-right:5%; 
    width:400px;
    height:40px;
}
    
.butt {
    width:25%;
    height:40px;
    font-size: 11pt;
}
    
.gal {
    padding-left: 2%;
}
}
@media only screen and (min-width:1600px) {
    
.btncont{
    width:600px;

    }
.butt {
    width: 150px;     
    }
}

@media only screen and (min-width:1980px) {
.btncont{
    width:1600px;
    margin:2% 50%;
}
.butt {
    width: 400px;     
}
}
@media print {
    .footer {page-break-after: always;}
}
@media print {
    h1 {page-break-before: always;}
}